<?php

/**
 * Msssage History configuration file
 */

// In order to enable Message History configure an array like the global
// example below. The array key must contain only safe characters, this will be
// users as the internal identifier for the address book ie. a-zA-Z0-9_
// This identifider is used when reference the address book in other parts
// of Roundcube (eg. other plugins or main config) so it must be unique within
// your with in installation.

$config['message_history'] = [
	// history users are defined by the address book group with this name
	'group' => 'Observers',
	// list of valid primary user teams
	'teams' => [],
	// URL for LRS
	'lrs_endpoint' => 'http://example.com/xapi/statements',
	// LRS username, credential ID, or API key
	'lrs_username' => 'admin',
	// LRS password or API secret for given username
	'lrs_password' => 'password',
	// Identify users by email
	'actor_email' => 'true',
	// Identify users by username
	'actor_username' => 'false',
];
